body
{
	/* Designed by Freepik */
	background-image: url("img/signInBackground.jpg");
	background-size: cover; 
	-moz-background-size: cover;
	font-size: 20px;
}

#container
{
	background-color: white;
	width: 300px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

h1
{
	font-family: 'Anton', sans-serif;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

h3
{
	font-family: 'Pacifico', cursive;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

h4,
legend[id=financialOperation]
{
	padding: 15px 0 5px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
	
}

p[class=greeting]
{
	margin-top: 0;
	margin-bottom: 5px;;
}

input[class=registrationFields],
input[id=amount],
input[id=date],
select,
textarea[id=comments]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[class=registrationFields]:focus,
input[id=amount]:focus,
input[id=date]:focus,
option:focus,
textarea[id=comments]:focus,
select:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #e49a32;
	background-color: #ffeadc;
	color: #d39a32;
}

input[class=registationButtons],
button[class=registationButtons],
button[class=mainMenuButtons],
input[class=addDetailsOfOperationButton],
button[class=addDetailsOfOperationButton]
{
	width: 300px;
	background-color: #e49a32;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 13px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

button[id=signInButton],
button[id=signUpButton]
{
	margin-top: 25px;
}

input[type=submit]:focus,
button[id=signInSignUp]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover,
button[id=signInSignUp]:hover
{
	background-color: #d38a21;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #d39a32;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #d39a32;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #d39a32;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #d39a32;
}

button[class=mainMenuButtons]
{
	padding: 10px 10px;
	margin-top: 10px;
}

input[id=amount]
{
	width: 179px;
	padding: 5px;
	margin-top: 5px;
}

input[id=date]
{
	width: 209px;
	padding: 2px;
	margin-top: 5px;
}

textarea[id=comments]
{
	width: 260px;
}

label[class=expenseLabel]
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

label[id=comments]
{
	display: block;
	padding: 10px 0;
}

select[id=paymentMethod]
{
	width: 145px;
	padding: 5px;
	margin-top: 5px;
}

select[id=category]
{
	width: 169px;
	padding: 5px;
	margin-top: 5px;
}

textarea[id=comments]
{
	resize: none;
}

input[class=addDetailsOfOperationButton],
button[class=addDetailsOfOperationButton]
{
	width: 47%;
	padding: 5px 0;
	margin-top: 5px;
	float: left;
}

button[class=addDetailsOfOperationButton]
{
	margin-left: 15px;
}




















